.universe {
  position: relative;
}

.cell {
  position: absolute;
  /*border: 1px solid #E0E0E0;*/
  width: 20px;
  height: 20px;
  background-color: #0091EA;
  user-select: none;
}

.docked {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.credit {
  margin: 10px 20px;
}

.menu {
  display: flex;
  flex-direction: column-reverse;
}

.menu button {
  margin: 5px;
}
