.universe {
  position: relative;
}

.cell {
  position: absolute;
  /*border: 1px solid #E0E0E0;*/
  width: 20px;
  height: 20px;
  background-color: #0091EA;
  user-select: none;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  right: 25px;
  bottom: 25px;
}

.menu button {
  margin: 5px;
}
